img {
    border: 0 none;
    width: 100%;
}


select:focus {outline: none;}
button:focus,
textarea:focus,
input:focus {
    outline: none;
}
input[type="text"] {
    width: 100%;
    padding: 6px 8px;
    border: 0px;
    border-radius: 4px;
}
body.home{background:#fff}
.container-fluid {
    padding-right: 30px;
    padding-left: 30px;
}
.seller-temp {}
.seller-temp nav .navbar-brand {color:white;}
.seller-temp nav {
    background: #0862A3;
    padding-right: 30px;
    padding-left: 30px;
}
.seller-temp nav form {float: right;display: block;width: 70%;position: relative;}
.seller-temp nav form input.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    padding-left: 30px;
}
.seller-temp nav form button {
    position: absolute;
    top: 4px;
    right: 10px;
    background: #FCD486;
    border-radius: 40px;
    padding: 5px 30px;
    color: #4f4a3d;
    border-color: C6AA00;
    font-weight: bold;
}
.seller-temp .third-nav ul li:after {content:"/";font-weight:bold;padding-left: 30px;}
.seller-temp .third-nav ul li:last-child:before {}
.seller-temp .third-nav ul li:first-child {}
.seller-temp .third-nav ul li:last-child {}
.btn-outline-success:hover {
    color: #fff;
    background-color: #64b3ed;
    border-color: #64b3ed;
}
img.uicon {
    width: 29px;
    height: 34px;
}
img.bask-icon {
    width: 33px;
}
.head-right-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.show-all-cat {
    float: left;
    width: 100%;
}
span.sign-reg {
    font-weight: 600;
    font-size: 18px;
}
span.sign-or-reg {
    font-size: 16px;
}
.btn-sign-register {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.signin-reg span {
    line-height: 18px;
	color:#fff;
}
.signin-reg {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 15px;
}
span.bx-amount {
    background: #EDF7FF;
    border: 1px solid #D7EEFF;
    color: #0862A3;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50px;
    padding: 4px 11px;
    margin-left: 10px;
}
.show-all-cat span {}
.show-all-cat ul {
    list-style: none;
    max-width: 130px;
    display: none;
}
.show-all-cat ul li {
    text-align: center;
    padding: 5px;
    background: white;
    border-bottom: 1px solid #e1e2e5;
}
.no-pr-pl{padding-right:0;padding-left:0}
.order-track {
    float: left;
    width: 100%;
    text-align: right;
}
.order-track ul {
    list-style: none;
    text-align: right;
	float:right;
}
.order-track ul li {
    float: left;
    margin-left: 20px;
}
.order-track ul li a {
	color:#505050;
}
.order-track ul li a:hover {
    text-decoration: none;
    color: #000;
}
.side-menu ul li:last-child {
    border-bottom: 0;
}
.sec-nav .container{
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
img.search-icon {
    width: 26px;
    margin-left: 4px;
}
.side-menu {
    float: left;
    width: 100%;
    margin-top: 10px;
    background: #ffffff;
    padding: 0px;
    border: 1px solid #d8d8d8;
}
.side-menu h1 {
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
    background: #f1f1f1;
    margin-bottom: 0;
}
.side-menu ul {
    list-style: none;
    padding: 0 15px;
}
.side-menu ul li {
    padding: 11px 0;
    text-align: left;
    font-weight: bold;
    color: #6a6a6a;
    border-bottom: 1px solid #c3c3c3;
    font-size: 14px;
}
.side-menu ul li:hover {
    cursor:pointer;transition:.2s;color:black;
}
.show-all-cat span img,
.side-menu ul li img {width: 22px;margin-right: 10px;}
.side-menu ul li i {
    float: right;
    font-size: 20px;
    color: #c3c3c3;
}
img.banner {width:100%}
.pro-img-bx {
    background: #F0F0F0;
    padding: 15px;
}
.pro-title-bx {
    background: #fff;
    padding: 15px;
    margin-bottom: 30px;
    min-height: 122px;
}
h3.prod-title {
    font-size: 18px;
    color: #19191D;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	margin-bottom: 15px;
	height: 43px;
}
.pro-price {
    font-size: 22px;
    font-weight: bold;
    color: #19191D;
}
.container-fluid.bgcolor-gl {
    background: #FAFAFA;
}
.produ-listing-bx {
    padding-top: 50px;
    padding-bottom: 50px;
}
span.pro-icons {
    float: right;
    padding-top: 5px;
}
span.pro-icons img {
    width: 40px;
    cursor: pointer;
}
h2.cat-title {
    font-size: 30px;
    margin-bottom: 20px;
    display: inline-block;
}
.fea-prod-sm {
    display: inline-block;
    float: right;
    color: #ff5c00;
	cursor:pointer;
    font-size: 16px;
}
.bsc-slider-bx {
    text-align: center;
}
.about-foot {
    background: linear-gradient(45deg, #C1E7FF, transparent);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 80px;
    padding-left: 80px;
}
footer {
    background: #0862A3;
	color:#fff;
}
.footer-weaccept {
    border-top: 1px solid #ABABAB;
}
.footer-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
}
div#HomecarouselControls .carousel-control-next, div#HomecarouselControls .carousel-control-prev {
    width: 6%;
}
.pro-img-bx img {
	transition: all .2s ease-in-out;
}
.product-item:hover .pro-img-bx img {
    transform: scale(0.9);
    transition: all .2s ease-in-out;
}
.footer-cards img {
    max-width: 61px;
    margin-right: 15px;
    text-align: center;
}
p.footer-wa {
    text-align: center;
    margin-top: 15px;
}
.bsc-slider-bx h5 {
    margin-top: 15px;
}
.footer-copyright {
    background: #222222;
    padding-top: 20px;
}
p.copyright-text {
    text-align: center;
    font-size: 14px;
}
ul.footer-list {
    list-style: none;
}
ul.footer-list li a {
    color: #E2E2E2;
}
.footer-cards {
    text-align: center;
    margin-bottom: 40px;
}
.about-foot:before {
    content: "";
    background: url(../img/ellipse-9.png) no-repeat;
    position: absolute;
    left: 0;
    width: 50px;
    height: 200px;
}
h2.title-about {
    color: #00507B;
    font-weight: bold;
}
.bsCategories {
    margin-top: 60px;
    margin-bottom: 100px;
}
.footer-wrap h5 {
    margin-bottom: 20px;
}
img.downloadapp {
    width: 156px;
    margin-bottom: 15px;
}
ul.footer-list i.fab {
    margin-right: 7px;
}
ul.footer-list i.fab {
    background: #E8E8E8;
    text-align: center;
    border-radius: 50%;
    height: 21px;
    width: 21px;
    line-height: 23px;
    color: #0862a3;
    font-size: 14px;
}
h3.pm-title {
    font-weight: 300;
}
.for-signup {
    border: 1px solid #ff5c00;
    padding: 24px;
    background: url(../img/Authentication.png) no-repeat;
    background-position: right;
}
.signup-btn-bx {
    text-align: center;
    margin-top: 32px;
}
.primary {
    background: #ff5c00;
    border: 1px solid transparent;
    color: #fff;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 4px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    cursor: pointer;
    font-size: 18px;
	text-transform: uppercase;
}
.signup-btn-bx .primary {
    padding: 3px 56px;
}
.primary:hover {
    background: transparent;
    border: 1px solid #0862A3;
    color: #0862A3;
}
.signup-btn-bx p {
    margin-bottom: 0;
    margin-top: 10px;
}
#sellerCAtegories .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-36%);
}
#sellerCAtegories .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}
#sellerCAtegories button.owl-next {
    float: right;
}
#sellerCAtegories button.owl-next span {
    font-size: 24px;
}
#sellerCAtegories .owl-nav button span {
    color: #ccc;
	font-size: 70px;
}
p.pm-description {
    font-size: 14px;
    color: #E2E2E2;
}
.show-all-cat span {
    color: #2B2B2B;
}
/* screen 2 */
body.detail-pg {
    background: #fff;
}
ul.products-cat-opt {
    color: #666666;
    padding-left: 33px;
}
.breadcrumbs .container{
    background: #f2f2f2;
}
ul.breadcrumbs-list {
    list-style: none;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.breadcrumbs-list li {
    color: #000;
    font-weight: 500;
}
ul.breadcrumbs-list li a {color:#000}
ul.breadcrumbs-list li a:after {
    display: inline-block;
    margin: 0 0.25em;
    content: "|";
    color: #333;
    transform: rotate(22deg);
    font-size: 20px;
}
select.select-custom-point {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url(../img/down-arrow-Vector.png);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    padding-right: 30px;
    border-radius: 4px;
    padding: 6px 35px 6px 15px;
}
.form-group input {
    border: 1px solid #DBDBDB;
}
.cat-title-pg {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEDE;
    padding-bottom: 15px;
}
.cat-option-pg {
    display: flex;
    align-items: center;
}
input.form-control.min-price, input.form-control.max-price {
    width: 75px;
    margin-right: 10px;
    margin-left: 10px;
}
.price-limit-opt {
    display: flex;
    align-items: center;
}
.min-max-bx {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 45px;
	margin-bottom: 0;
}
.min-max-bx span {
    line-height: 38px;
}
.sortby-opt {
    position: relative;
}
.sortby-opt select {
    width: 209px;
    position: relative;
}
label.top-position {
    position: absolute;
    top: -13px;
    left: 5px;
    background: #fff;
    z-index: 9;
    padding: 0px 10px;
    font-size: 14px;
}
.product-item {
    margin-bottom: 20px;
}
ul.pagination.bottm-pagination li a {
    border:2px solid #DFE3E8;
    margin-right: 7px;
    border-radius: 4px;
	line-height: 16px;
}
ul.pagination.bottm-pagination li.page-item a {
    color: hsl(0, 0%, 47%);
    font-weight: 700;
}
ul.pagination.bottm-pagination .page-item.inactive .page-link {
    z-index: 3;
    background-color: #c8cfd5;
    border-color: #c8cfd5;
    color: #808080;
}
ul.pagination.bottm-pagination .page-item.active .page-link {
    z-index: 3;
    color: #ff5c00;
    background-color: transparent;
    border-color: #ff5c00;
}
.brand-options h5 {
    color: #ff5c00;
}
ul.products-cat-opt .checkmark {
    position: absolute;
    top: 3px;
    left: -31px;
    height: 20px;
    width: 20px;
    border: 1px solid #ff5c00;
    border-radius: 2px;
}
ul.products-cat-opt li label {
    position: relative;
	cursor:pointer;
}
ul.products-cat-opt input:checked ~ .checkmark:after {
    display: block;
}
ul.products-cat-opt input:checked ~ .checkmark {
    background-color: #ff5c00;
}
ul.products-cat-opt .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
ul.products-cat-opt input.form-check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.brand-options:first-child {
    padding-top: 15px;
}
ul.products-cat-opt .checkmark:after {
    left: 4px;
    top: -3px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    content: "\f00c";
    font-family: 'fontAweSome';
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
ul.products-cat-opt li {
    position: relative;
    margin-bottom: 5px;
}
ul.products-cat-opt li::marker {
    content: "";
}
.brand-options {
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 30px;
    padding-top: 30px;
}
.brand-options:last-child {
    border-bottom: 0px;
}
/* DETAIL SLIDER  */
section.testimonials {
	 padding: 20px 0px 80px 0px;
}
 section.testimonials h3 {
	 font-size: 40px;
}

.cartSummary-bx {
    background: #F0F0F0;
    padding: 20px 20px 40px 20px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.youorder-opt-bx img {
    max-width: 116px;
    width: 100%;
}
.cartsum-title {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}
.youorder-opt-bx img {
    max-width: 116px;
    width: 100%;
}
.youorder-item {
    flex: 0 0 70%;
    padding-left: 25px;
}
.youorder-opt-bx {
    display: flex;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 25px;
    margin-bottom: 30px;
}
.csi-title-t {
    font-size: 26px;
    flex: 0 0 67%;
}
.checkout-method .step-name {
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
}
.checkout-process {
    margin-top: 80px;
}

ul.checkout-method {
    list-style: none;
    display: flex;
    margin-top: 50px;
}
li.shipping-pay {
    position: relative;
    text-align: center;
    width: 190px;
    font-size: 20px;
    font-weight: bold;
}
li.shipping-pay.active .step-counter-point {
    border-color: #0862a3;
}
.step-counter-point {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 34px;
    border-radius: 50%;
    border: 4px solid #D9D9D9;
    margin-bottom: 6px;
    left: 50%;
    background: #fff;
    padding: 2px;
}

li.shipping-pay.active .step-counter-point {
    border-color: #ff5c00;
}
li.shipping-pay:before {
    position: absolute;
    content: "";
    border-bottom: 5px solid #ccc!important;
    width: 100%;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateY(-50%);
}
li.shipping-pay.active:before {
    border-color: #ff5c00 !important;
}
li.shipping-pay.active .step-counter-point:before {
    content: "\f058";
    color: #ff5c00;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    position: absolute;
    font-size: 25px;
    top: 2px;
    font-family: fontAweSome;
}
li.shipping-pay .step-counter-point:before {
    content: "2";
    color: #B4B4B4;
}
ul input:checked ~ .checkmark_radio {
    background-color: #ff5c00;
}
ul.products-cat-opt .checkmark_radio {
    position: absolute;
    top: 3px;
    left: -31px;
    height: 18px;
    width: 18px;
    border: 1px solid #ff5c00;
    border-radius: 50%;
}
ul.products-cat-opt.shipping-meth li {
    position: relative;
    margin-bottom: 5px;
    margin-right: 30px;
    padding-right: 15px;
    font-size: 16px;
}
ul.products-cat-opt input:checked ~ .checkmark_radio:before {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    top: 1px;
    left: 1px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}
ul.products-cat-opt input:checked ~ .checkmark_radio:after {
    display: block;
}
img.credit-card-icon {
    position: absolute;
    width: 30px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.paypal-box {
    align-items: center;
    border: 1px solid #9E9E9E;
    border-radius: 10px;
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
}
.checkout-payment-bx {
    max-width: 547px;
}
img.img-paypal {
    width: 127px;
}
label.top-position {
    position: absolute;
    top: -13px;
    left: 5px;
    background: #fff;
    z-index: 9;
    padding: 0px 10px;
    font-size: 14px;
}
.primary.nxtbtn {
    float: right;
    margin-bottom: 40px;
    padding: 8px 18px;
}
.form-group input, .form-group select {
    border: 1px solid #5F5F5F;
    height: 56px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 23px;
    width: 100%;
}
.form-group {
    margin-bottom: 1rem;
    position: relative;
}
ul.products-cat-opt.shipping-meth {
    display: flex;
    margin-top: 20px;
    color: #303030;
}
.ba-title {
    border-bottom: 1px solid #C4C4C4;
    margin-bottom: 50px;
    margin-top: 37px;
    padding-bottom: 25px;
}
 @media (max-width: 639px) {
	 section.testimonials h3 {
		 font-size: 30px;
	}
}
 section.testimonials p.text-center.gray {
	 max-width: 900px;
	 margin: 0 auto;
}
 section.testimonials .slider1 {
	 padding: 20px;
	 margin-bottom: -50px;
}

 section.testimonials .owl-thumbs {
	 text-align: center;
}
 section.testimonials .owl-thumbs button {
	 background-color: transparent;
	 border: none;
	 opacity: 0.5;
	 display: inline-block;
	 margin-right: 10px;
}
 section.testimonials .owl-thumbs button .userimg {
	 width: 100px;
	 height: 100px;
	 margin: 0 auto;
	 transition: 0.3s;
	 border: 4px solid #d1d1d1;
	 border-radius: 50%;
	 position: relative;
	 top: 15px;
}
 @media (max-width: 639px) {
	 section.testimonials .owl-thumbs button .userimg {
		 width: 80px;
		 height: 80px;
	}
}
 section.testimonials .owl-thumbs button .userimg img {
	 width: 100%;
	 border-radius: 100%;
	 height: 100%;
	 object-fit: cover;
	 object-position: center;
}
 section.testimonials .owl-thumbs button.owl-thumb-item.active {
	 transition: 0.3s;
	 opacity: 1;
}
 section.testimonials .owl-thumbs button.owl-thumb-item.active .userimg {
	 border: 4px solid red !important;
}
 h1.title-pm-detail {
    font-size: 26px;
    color: #1B1B1B;
}
.gallery-pm-thumb {
    background: #F0F0F0;
    max-width: 390px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
}
.gallery-pm-thumb .owl-thumbs {
    text-align: center;
    border: 10px;
    padding: 20px;
}
.gallery-pm-thumb button.owl-thumb-item.active {
    border: 3px solid #DB7B09;
	border-radius:6px;
}
.gallery-pm-thumb button.owl-thumb-item {
    border: 3px solid transparent;
	margin-left:5px;
	margin-right:5px;
}
.gallery-pm-detail {
    margin-bottom: 50px;
}
.price-pm-detail {
    color: #ff5c00;
}
.short-pm-detail ul {
    padding-left: 23px;
}
.short-pm-detail ul li {
    font-size: 18px;
    margin-bottom: 10px;
}
.short-pm-detail {
    margin-top: 30px;
    border-top: 1px solid #C4C4C4;
    padding-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #C4C4C4;
}
.addtocart-select-pm {
    display: flex;
    margin-bottom: 50px;
}
.qty-push-bx {
    margin-right: 25px;
}
input.qty-number {
    text-align: center;
    max-width: 70px;
    color: #1B1B1B;
}
.qty-push-bx input, .qty-push-bx button {
    border: 1px solid #C6C6C6;
    border-radius: 0px;
    color: #2C2C2C;
    margin-right: -8px;
}
.qty-push-bx button {
    padding-right: 13px;
    padding-left: 13px;
}
.addtocart-select-pm button.primary {
    padding-right: 20px;
    padding-left: 20px;
}
.addtocart-select-pm input, .addtocart-select-pm button {
    padding-top: 6px;
    padding-bottom: 6px;
}
.details-pm-section {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 15px;
}
.detial-sect {
    padding-left: 55px;
}
button.btnplus-item {
    border-radius: 3px 0 0 3px;
}
button.btnminus-item {
    border-radius: 0px 3px 3px 0;
}
.cartI-1 {
    flex: 0 0 68%;
    display: flex;
    padding-right: 20px;
}
.cartI-2 {
    flex: 0 0 12%;
    padding-right: 10px;
}
.cartI-3 {
    flex: 0 0 12%;
}
.cartI-4 {
    flex: 0 0 12%;
}
.cartItems-box {
    display: flex;
    border-bottom: 1px solid #C4C4C4;
    margin-top: 15px;
    padding-top: 15px;
}
.cart-item-img {
    margin-right: 15px;
    width: 320px;
}
.carti-remove img {
    background: #F5F5F5;
    height: auto;
    width: 34px;
    padding: 6px;
    border: 1px solid #e1e1e1;
}
.ci-push-bx input {
    border-radius: 5px 0 0 5px;
    height: 45px;
    padding-right: 34px;
    border: 1px solid #9D9D9D;
}
.carti-remove {
    text-align: center;
}
.cart-item-updates button.secndary {
    margin-left: auto;
}
.cart-item-updates {
    display: flex;
    margin-top: 20px;
}
.cartSummary-bx {
    background: #F0F0F0;
    padding: 20px;
}
.cart-item-updates button.primary img {
    width: 22px;
    margin: 0 12px 0 0;
}
h5.ci-price {
    font-size: 20px;
    color: #ff5c00;
}
.cart-item-updates button.primary {
    height: 40px;
    text-align: center;
}
button.secndary {
    background: #F5F5F5;
    border: 1px solid #D2D2D2;
    color: #636363;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 4px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    cursor: pointer;
    font-size: 18px;
	text-transform: uppercase;
}
.cart-item-updates button.secndary img {
    width: 22px;
    margin: 0 12px 0 0;
}
.ci-push-bx {
    position: relative;
    display: inline-flex;
}
.cart-add-item {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    position: relative;
}
button.btnplus-item, button.btnminus-item {
    width: 30px;
    height: 22px;
    line-height: 1px;
    color: #1B1B1B;
    font-weight: bold;
    border: 1px solid #9D9D9D;
    border-radius: 0;
}
 button.btnminus-item {
    width: 30px;
    height: 22px;
    line-height: 1px;
    color: #1B1B1B;
    font-weight: bold;
    border: 1px solid #9D9D9D;
    border-radius: 0;
    position: relative;
    left: 98px;
    top: -37px;
}
.addtocart-select-pm {
    display: block;
    margin-bottom: 50px;
}
input#demoInput {
    z-index: 9;
    position: relative;
}
.qty-push-bx {
    position: relative;
    width: 100px;
}
.cartsum-title {
    text-align: center;
    font-size: 20px;
}
.cartSummary-items {
    display: flex;
    align-items: center;
}
.csi-title {
    flex: 0 0 67%;
}
.cartItems-box:nth-child(2), .cartItems-box:nth-child(3) {
    padding-bottom: 35px;
}
.csi-title-dc {
    border: 1px solid #D0D0D0;
    padding: 3px 5px;
    background: #fff;
    border-radius: 5px;
}
.csi-title-amount {
    font-weight: 500;
}
.csi-title-t {
    font-size: 26px;
}

.singal-product { 
     width: 100%; 
     display: flex; 
  }
.singal-product 
.left-thumbs {
    width: 90px;
}
.singal-product 
.right-main {
    width: 70%;
    float: right;
    padding: 25px;
}
.singal-product .left-thumbs ul {
  list-style:none;
}
.singal-product .left-thumbs ul li img {
    width:60px;
    height: 60px;
    cursor: pointer;
}
.singal-product .left-thumbs ul li {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
}

/* ...............cart page....................*/
.cartSummary-items {
    display: flex;
    align-items: center;
    padding-bottom: 17px;
}

.cartsum-title {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}
.csi-title {
    flex: 0 0 67%;
}
button.primary {
   
    background: #ff5c00;
    border: 1px solid #ff5c00;
    border-radius: 4px;
    padding: 6px 8px;
    cursor: pointer;
    color: white;
}
.wrapper-signup .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
.form-group input, .form-group select {
    border: 1px solid #5F5F5F!important;
    height: 56px;
    font-size: 18px;
    font-weight: 500;
    padding-left: 23px;
}
.form-group input.form-control, .form-group select.form-control {
    height: 56px!important;
    margin-top: 0;
    border: 1px solid #2D2D2D;
    padding: 6px 8px;
    border-radius: 4px;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
}
.cartSum-list .primary img {
    width: 22px;
    margin: 0 0 0 12px;
}
.primary:hover {
    background: transparent;
    border: 1px solid #ff5c00;
    color: #ff5c00;
}
.p-tab {
    max-width: 200px;
}


.price-limit-opt input.form-control, .price-limit-opt select.form-control {
    height: 34px !important;
    min-height: 36px;
    width: 109px;
}
.price-limit-opt button {
    width: 45px;
}
.price-limit-opt span {
    margin-top: -16px;
    display: inline-block;
}
/* ...............cart page....................*/
.cartI-2 button.btnminus-item {
    left: 0px;
    top: 0px;
}
.cat-title-pg h4 {
    color: #000;
  }



@media (max-width: 1200px) {
  .top-inner-container .category-search {
    padding: 10px 0px 5px 1px !important;
    margin: 0px auto !important;
  }
  ul.breadcrumbs-list li a, ul.breadcrumbs-list li {
    color: #000;
    font-size: 14px;
  }
  ul.breadcrumbs-list {
    padding: 10px;
  }
 .brand-options:first-child {
    padding-top: 0px;
  }
  .cart-item-updates {
    margin-bottom: 50px;
   }
}

@media (max-width: 991px) and (min-width: 768px) {

.cat-title-pg h4 {
    position: absolute;
    font-size: 24px;
    top: 0;
  }
  .cat-title-pg  {
    position: relative;
    padding-top: 50px;
  }
  .brand-options:first-child {
    padding-top: 0px;
  }
  .sortby-opt {
    position: relative;
    float: right;
    width: 210px;
    display: block !important;
    position: absolute;
    right: 0;
  }
  h3.prod-title {
    font-size: 14px;
  }
  .pro-price {
    font-size: 15px;
  }
  .brand-options h5 {
    color: #ff5c00;
    font-size: 17px;
  }
  .product-item {
    max-width: 400px;
    margin: 0 auto 20px;
  }
  .cartItems {
    width:100%;
    display: block;
  }
  .cartI-1 {
    flex: 0 0 68%;
    display: flex;
    padding-right: 20px;
    max-width: 460px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {

.cat-title-pg h4 {
    position: absolute;
    font-size: 20px;
    top: 0;
  }
  .cat-title-pg  {
    position: relative;
    padding-top: 50px;
  }
  .brand-options:first-child {
    padding-top: 0px;
  }
  .sortby-opt {
    position: relative;
    float: right;
    width: 210px;
    display: block !important;
    position: absolute;
    right: 0;
  }
  h3.prod-title {
    font-size: 14px;
  }
  .pro-price {
    font-size: 15px;
  }
  .brand-options h5 {
    color: #ff5c00;
    font-size: 17px;
  }
  .top-inner-container .container .row
  .col-3:first-child {
    display: none !important;
  }
  .top-inner-container .container .row
  .col-3{
    position: absolute;
    right: 40px;
  }
  .cat-option-pg {
    display: block;
    align-items: center;
  }
  .sortby-opt {
    position: relative;
    float: left;
    width: 210px;
    display: block !important;
    position: absolute;
    right: 0;
    top: 0;
  }
  .product-item {
    margin-bottom: 20px;
    padding-left: 50px;
  }
  .top-inner-container  .container .row .col-3 {
    position: absolute;
    right: 40px;
    width: 100%;
    left: 0;
    margin: auto;
    max-width: 142px;
    top: 63px;
 }
  .top-inner-container .col-9 {
    width: 90% !important;
    position: absolute;
    bottom: 0;
  }
  .price-limit-opt input.form-control, .price-limit-opt select.form-control {
    height: 34px !important;
    min-height: 36px;
    width: 60px;
    font-size: 12px;
  }
  ul.products-cat-opt li {
    font-size: 12px; 
  }
  .bottom-footer img {
    display: inline-block;
    margin: 0 5px;
    max-width: 25px !important;
  }
  .sec-nav {
    margin-bottom: 20px;
    padding-top: 86px;
  }
  .singal-product .left-thumbs ul li img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .singal-product .left-thumbs ul li {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    margin-bottom: 1px;
   }
   .singal-product .left-thumbs {
    width: 50px;
   }
   .detial-sect {
    padding-left: 0px;
    padding-top: 50px;
    font-size: 14px;
  }
  .product-item {
    margin-bottom: 20px;
    padding-left: 0px;
  }
  h2.cat-title {
    font-size: 24px;
    margin-bottom: 20px;
    display: inline-block;
    color: #000;
    padding-bottom: 25px;
  }
  .produ-listing-bx {
    padding-top: 0px;
    padding-bottom: 0px;
   }
   .product-item {
    max-width: 400px;
    margin: 0 auto 20px;
    padding-left: 50px;
  }
  .cartI-1 {
    flex: none;
    display: block;
    padding-right: auto;
   }
   .cart-item-img {
    margin-right: 15px;
    width: 80px;
    float: none;
    float: left;
  }
  .cart-item-img {
    margin-right:auto;
    width: 80px;
    float: none;
    margin-bottom: 19px;
  }
  .cartItems-box {
  flex-direction: column;
  } 
  .carti-remove {
    text-align: left;
  }
  .ci-push-bx {
    margin-bottom: 10px;
  }
  .cartI-3 {
    flex: 0 0 12%;
    margin: 15px 0;
   }
   button.secndary {
    font-size: 15px;
   }
   button.primary {
    font-size: 15px;
   }
   .cart-c .product-item {
    padding-left:0;
   }
   .fea-prod-sm {
    margin-bottom: 15px;
   }
   h1.title-pm-detail {
    font-size: 22px;
    color: #1B1B1B;
   }
   button.btnminus-item {
    position: relative;
    left: 94px;
    top: -31px;
   }
}







